.settings
.settings/
project.properties

/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build

# intellij
*.iws
*.iml
.idea/
.idea/gradle.xml

# vim
*.sw*

# gradle
.gradle
build
app/build
tests/build
unitTests/build



