<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.compscieddy.trackr" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".StartApplication">

        <meta-data android:name="AA_DB_NAME" android:value="compscieddy.db" />
        <meta-data android:name="AA_DB_VERSION" android:value="1" />
        <!-- Specify the models directly so that ActiveAndroid doesn't need to scan through to find Model classes -->
        <meta-data android:name="AA_MODELS"
                   android:value="com.myapp.model.Item, com.myapp.model.Category" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".SignedInCheckActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity" />
        <activity android:name=".LoginOrSignup" />
        <activity android:name=".SignupActivity" />

    </application>

</manifest>
